.root {
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  
  .size500 {
    font-size: 16px;
    padding: 8px 14px;
  }
  
  .size400 {
    font-size: 14px;
    padding: 6px 12px;
  }
  
  .light {
    background-color: #cddff7;
    color: #000000;
  }
  
  .dark {
    background-color: #09011f;
    color: #ffffff;
  
  }