.container {
  display: grid;
  padding: 0.7em;
  gap: 0.5em;
  border: 1px dashed #efefef;
  border-radius: 0.7em;
}

.reviewRating {
  align-items: flex-start;
  max-width: 250px;
}

.input {
  min-width: 250px;
  min-height: 2em;
  /* border: none; */
}

.textarea {
  min-width: 250px;
  min-height: 3em;
  /* border: none; */
}

.clearButton {
  min-width: 100px;
  min-height: 2em;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.submitButton {
  min-width: 100px;
  min-height: 2em;
  /* background-color: #fff; */
  border: 1px solid #9dee96;
  color: #9dee96;
}
